/.vscode/
/.idea/
/doc/

*.s
*.out
tmp*
temp*
# PA2

/assignments/PA2/test.output
/assignments/PA2/*.s
/assignments/PA2/*.o
/assignments/PA2/*.d
/assignments/PA2/*.cc
/assignments/PA2/*~
/assignments/PA2/lexer

# PA3

/assignments/PA3/*.yy.c
/assignments/PA3/*.tab.h
/assignments/PA3/*.tab.c
/assignments/PA3/*.out
/assignments/PA3/*.o
/assignments/PA3/*.cc
/assignments/PA3/*.c
/assignments/PA3/*.d
/assignments/PA3/lexer
/assignments/PA3/semant
/assignments/PA3/ref-parser
/assignments/PA3/parser
/assignments/PA3/*.output


# PA4

/assignments/PA4/ast-lex.*
/assignments/PA4/ast-parse.*

/assignments/PA4/cool-tree.*
!/assignments/PA4/cool-tree.h
!/assignments/PA4/cool-tree.handcode.h

/assignments/PA4/dumptype.*
/assignments/PA4/handle_flags.*

/assignments/PA4/semant.*
!/assignments/PA4/semant.cc
!/assignments/PA4/semant.h

/assignments/PA4/semant-phase.*
/assignments/PA4/stringtab.*
/assignments/PA4/symtab_example.*
/assignments/PA4/tree.*
/assignments/PA4/utilities.*
/assignments/PA4/lexer
/assignments/PA4/cgen
/assignments/PA4/parser
/assignments/PA4/ref-semant
/assignments/PA4/semant
/assignments/PA4/symtab_example
/assignments/PA4/mycoolc
/assignments/PA4/mysemant

# PA5

/assignments/PA5/*.o
/assignments/PA5/*.d
/assignments/PA5/*.cc
/assignments/PA5/mycoolc
/assignments/PA5/parser
/assignments/PA5/semant
/assignments/PA5/cgen
/assignments/PA5/lexer
!/assignments/PA5/cgen.cc
!/assignments/PA5/cgen_supp.cc
